{
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120
}
